# apiVersion: monitoring.coreos.com/v1
# kind: PrometheusRule
# metadata:
#   labels:
#     role: default
#   name: kubernetes-system-controller-manager.alerts
#   namespace: monitoring-system
# spec:
#   groups:
#     - name: kubernetes-system-controller-manager
#       rules:
#         - alert: KubeControllerManagerDown
#           annotations:
#             description: KubeControllerManager has disappeared from Prometheus target
#               discovery.
#             runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubecontrollermanagerdown
#             summary: Target disappeared from Prometheus target discovery.
#           expr: |
#             absent(up{job="kube-controller-manager"} == 1)
#           for: 15m
#           labels:
#             severity: Critical
